[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
gunicorn = "*"
django-heroku = "*"
whitenoise = "*"
crispy-bootstrap5 = "*"
pillow = "*"
stripe = "*"
django-cors-headers = "*"
dj-database-url = "*"
psycopg2-binary = "*"
boto3 = "*"
django-storages = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
