{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/daisy_bg_image_trans.css' %}">
{% endblock %}

{% block page_title %}
| Admin
{% endblock %}

{% block content %}
<h1>Admin Page</h1>
<p>Please register new employees with this link, as it connects them to the permissions system. Give them a default password which they can change themselves.</p>
<a href="{% url 'staff_signup' %}">
    <p>Add New Employee</p>
</a>
<br>
<p>View all staff members here: </p>
<a href="{% url 'all_staff' %}">
    <p>View Staff</p>
</a>
<br>
<p>Follow this link if you need to manage other actions:</p>
<a href="/admin/">
    <p>Admin Panel</p>
</a>
{% endblock %}