/* Lato */

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
/* Poppins */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,500;0,600;0,700;1,300;1,500&display=swap");

/* Bebas Neue for the logo*/
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

body {
  background-color: var(--amber-100);
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.btn-warning {
  background-color: var(--amber-100);
  border: unset;
}

.btn-warning:hover {
  background-color: var(--amber-200);
}

.alert-message {
  background-color: var(--amber-50);
  color: inherit;
  text-align: center;
  margin-top: 1rem;
  padding: 1rem 0.5rem;
}

a {
  color: var(--sky-800);
  font-weight: 400;
}

a:hover {
  color: var(--sky-600);
}
.navbar-brand {
  font-family: "Bebas Neue", sans-serif;
  font-size: 4rem;
}

.bg-light {
  background: var(--amber-50) !important;
}

.lead {
  font-weight: 400;
}

.transparent-card {
  background-color: #fffbeb8f;
  min-width: fit-content;
  max-width: 700px;
  padding: 1rem;
}

.transparent-bg {
  background-color: #fffbeb8f;
  min-width: fit-content;
}

.shop-detail-button {
  margin-top: 5rem;
  margin-bottom: 10rem;
  margin-left: 10rem;
}

.cart-checkout {
  margin-top: 1rem;
}

/* Utilities */

.flex-between-baseline {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.flex-between-end {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.margin-0-center {
  margin: 0 auto;
}
