/* Lato */

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

/* Bebas Neue for the logo*/
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

body {
  background-color: var(--amber-100);
  font-family: "Lato", sans-serif;
}

main {
  margin-top: 10rem;
}

.btn {
  min-width: 7rem;
}

.btn-warning,
.btn-info {
  background-color: var(--sky-800);
  color: var(--sky-100);
  border: unset;
}

.btn-warning:hover,
.btn-info:hover {
  background-color: var(--sky-600);
}

.btn-success {
  background-color: var(--green-900);
  color: var(--green-200);
}

.btn-success:hover {
  background-color: var(--green-200);
  color: var(--green-900);
}

.btn-danger {
  background-color: var(--red-200);
  color: var(--red-900);
  border: unset;
}

.btn-danger:hover {
  background-color: var(--red-500);
  color: var(--red-100);
  border: unset;
}

.btn-space-above {
  margin-top: 3rem;
}

.btn-space-below {
  margin-bottom: 1rem;
}

.text-info {
  color: var(--sky-900) !important;
}

.text-success {
  color: var(--green-900) !important;
}

.text-danger {
  color: var(--red-900) !important;
}

.alert-message {
  background-color: #fffbebb6;
  color: inherit;
  text-align: center;
  margin-top: 7rem;
  margin-bottom: -7rem;
  padding: 1rem 0.5rem;
}

a {
  color: var(--sky-800);
  font-weight: 400;
}

a:hover {
  color: var(--sky-600);
}
.navbar-brand {
  font-family: "Bebas Neue", sans-serif;
  font-size: 4rem;
  padding: 0;
}

.bg-light {
  /* background: var(--amber-50) !important; */
  background: #fffbebb6 !important;
}

.lead {
  font-weight: 400;
}

.text-muted {
  color: var(--sky-900) !important;
}

.page-background {
  width: 100vw;
  height: 100vh;
  background-color: #fffbeb8f;
}

.card {
  background-color: #fffbeb5d;
  padding: 1rem;
}

.card-limit-90 {
  max-width: 90%;
}

.transparent-card {
  background-color: #fffbeb5d;
  min-width: fit-content;
  /* max-width: 700px; */
  padding: 1rem;
}

.transparent-bg {
  background-color: #fffbeb8f;
  min-width: fit-content;
}

#goat {
  width: 200px;
  margin-left: 30vw;
  margin-top: 10vh;
}

#index-bottom-row {
  margin-top: 25vh;
}

.shop-detail-carousel {
  width: 600px;
  /* margin: 0 auto; */
}

.shop-detail-title-image {
  height: 60vh;
}

.shop-detail-description {
  max-width: 90%;
  font-weight: 700;
}

.shop-outer-description {
  font-weight: 700;
}
.display-6 {
  font-weight: 700;
}

.shop-detail-button {
  margin-bottom: 10rem;
  margin-left: 10rem;
}

.cart-item {
  display: flex;
  align-items: baseline;
  gap: 3rem;
}

.cart-items-list {
  display: flex;
  gap: 1rem;
  align-items: baseline;
}

.cart-checkout {
  margin-top: 1rem;
}

#wrench {
  font-size: 4rem;
}

/* Utilities */

.flex-between-baseline {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.flex-between-end {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.margin-0-center {
  margin: 0 auto;
}

/* for tablet */

@media (max-width: 750px) {
  .shop-detail-carousel {
    width: 450px;
  }
}

/* for mobile */

@media (max-width: 500px) {
  main {
    margin-top: 8rem;
  }

  .navbar-brand {
    font-size: 2rem;
  }

  #goat {
    margin-top: 3rem;
    width: 180px;
    margin-left: 20vw;
  }

  .messages {
    margin-top: 8rem;
  }

  .btn-shop {
    margin-top: -1rem;
    margin-bottom: 1rem;
  }
  .shop-detail-carousel {
    width: 350px;
  }

  .cart-items-list {
    flex-direction: column;
    gap: 0;
    font-size: 0.8rem;
  }
}
