body {
  background-image: url("../img/workshop-25-flip.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

@media (max-width: 500px) {
  body {background-position: right;}
}
