{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home_bg_image_trans.css' %}">
{% endblock %}


{% block page_title %}
| Home
{% endblock %}

{% block content %}
<section id="goatload" >
        <div class="row">
        <div class="col-lg-5">
            <p class="display-4"> Contact Us</p> 
                
            <p class="lead">Goat And Daisy</p>
            <p class="lead">Tehachapi</p>
            <p class="lead">California</p>
            <p class="lead">90027</p>
            <br>
            <p class="lead">+1 818 37 7788</p>
            <br>
            <p class="lead">contact@goat-and-daisy.com</p>

                

            
            
        </div>
        <div class="col-lg-7">
            <img src="{% static 'img/goat.png'%}" alt="" id="goat">
        </div>
    </div>
</section>

<!-- <section id="index-bottom-row">
    <div class="row">
        <div class="col-md-4">
            <div class="">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus veritatis nihil enim quos amet, numquam aliquam modi molestiae, eveniet id unde tempore a mollitia officia ea ex non maiores, sequi inventore! Recusandae deleniti, numquam itaque voluptates id amet, magnam sit, vitae nulla exercitationem earum rerum autem labore aliquam quam eveniet?</p>
            </div>
        </div>
        <div class="col-md-4">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti, eos temporibus magnam esse harum odio repellat recusandae nesciunt odit itaque corporis ratione. Expedita, quae veritatis obcaecati error totam placeat corrupti.
        </div>
        <div class="col-md-4">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, repellat. Numquam, qui. Deleniti numquam quae aliquam voluptates, tenetur quidem. Optio adipisci nihil ducimus quasi quas ad, vero corporis ab, molestiae quibusdam iure recusandae quod non possimus, nesciunt atque error ea libero deserunt molestias. Qui, aperiam aut voluptatum similique quia doloribus.</p>
        </div>
    </div>
</section> -->

{% endblock %}
{% block extra_js %}
{{ super }}
<script src="{% static 'js/site_custom.js' %}"></script>
{% endblock%}
