{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

{% block extra_css %}
<link rel="stylesheet" href="{% static '/css/checkout.css'%}" />
{% endblock %}

{% block preload_js %}
<script src="{% static 'js/checkout.js' %}" defer></script>
{% endblock %}

{% block content%}
<p class="display-5">{{ customer_profile.full_name }}</p>
<p>{{template_cart}}</p>

<form id="payment-form" method=POST>
{% csrf_token %}


 

  <fieldset>
    <legend>Order Details:

    </legend>
    {% for item in template_cart %}
    <div class="cart-items flex-between-baseline" >
      <small>Title:</small><p class="lead"> {{ item.title }}</p>
      <small>Price:</small><p class="lead"> {{ item.price}}</p>
      <small>Quantity:</small><p class="lead"> {{ item.quantity }}</p>
    </div>
    {% endfor %}
    <div class="cart-tally flex-between-baseline">
      <small>Order Amount:</small><p class="lead"> {{ order_amount }}</p>
      <small>Shipping: </small><p class="lead">{{ shipping }}</p>
      <small>Order Total:</small><p class="display-6"> <strong>{{ order_total }}</strong></p>
    </div>

  </fieldset>
  <fieldset>
    <legend>Shipping Details:</legend>
    {{form|crispy}}

  </fieldset>
  <fieldset>
    <legend>Payment:</legend>
    <div id="payment-element">
      <!--Stripe.js injects the Payment Element-->
    </div>
    <button type="submit" id="submit">
      <div class="spinner hidden" id="spinner"></div>
      <span id="button-text">Pay now</span>
    </button>
    <div id="payment-message" class="hidden"></div>
  </fieldset>

  </form>


{% csrf_token %}


{% endblock %}

{% block extra_js %}
{{ block.super }}




{% endblock %}