{% extends 'base.html' %} 
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/daisy_bg_image_trans.css' %}">
{% endblock %}


{% block page_title %}
| Payments 
{% endblock %}

{% block content %}

<h1>Shopping Cart</h1>
<div class="card card-limit-90">
  
  <p>
    You have {{products_count }} {% if products_count != '1' %} items {% else %}
    item {% endif %} in your shopping cart.
  </p>
  
  {% for items in template_cart %}
  <div class="cart-items-list">
    
    <p class="small">Title: 
      <p class="lead">{{ items.product.title }}</p>
    </p>
    <p class="small">Price: 
      <p class="lead">EU {{ items.product.price }}</p>
     
    </p>
    <p class="small">Shipping: 
     
      <p class="lead">EU {{ items.product.shipping }}</p>
    </p>
      <a href="{% url 'remove_from_cart' items.product.id %} " class="btn btn-info btn-sm" style="margin-bottom: 1rem; ">Remove From Cart</a>
      
  </div>
  
  {% endfor %}
 <div style="text-align:end;">
   
    <p class="small">Shipping: {{ shipping }}</p>
    <p class="small">Order Amount: {{ order_amount }}</p>
    <hr>
    <p class="lead">Total: EU <strong>{{ order_total }}</strong></p>
 </div>
 {% if products_count %}
  <a href="{% url 'precheckout' %}" class="btn btn-info btn-space-above btn-space-beneath" style="align-self: flex-start;">Checkout
  </a>
  {% endif %}
  <a href="{% url 'shop' %}" class="btn btn-info btn-space-above btn-space-beneath" style="align-self: flex-start;">Back To Shop
  </a>
</div>
{% endblock %}
