{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/daisy_bg_image_trans.css' %}">
{% endblock %}

{% block page_title %}
| Payments 
{% endblock %}

{% block content %}
<h1>Thank you for your order.</h1>
<div class="card">
        
                <p>Confirmation for order {{ order_number}}</p>
                <p class="small text-muted">An email will also be sent to {{ customer_email }}</p>
                <p class="lead">{{ message }}</p>

                {% if shopping_list %}
                <p class="h3">Purchased: </p>
                {% for item in shopping_list %}
                <p class="lead">{{item.title }}</p>
                {% endfor %}                
                {% endif %}

                
                <br><br>

                <p>{{ customer_full_name }}</p>
                <p>{{ customer_address1}}</p>
                {% if customer_address2 %}
                    <p>{{customer_address2 }}</p>
                {% endif %}
                <p>{{ customer_postcode }}</p>
                <p>{{ customer_town_or_city }}</p>
                <p>{{ customer_country }}</p>
                
        
        
</div>


{% endblock %}