{% load static %}
<!-- The following tag source code is in "profiles>templatetags" -->
{% load user_in_group_tag %} 

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'css/tw-colours.css' %}">
    <link rel="stylesheet" href="{% static 'css/site_base_custom.css' %}">

    <!-- Extra CSS -->
    {% block extra_css %}
    {% endblock %}

    <script src="https://js.stripe.com/v3/"></script>
    {% block preload_js %}
    {% endblock %}
    <title>Goat And Daisy
      {% block page_title %}
      {% endblock %}
    </title>
  </head>
  <body>

    <!-- Nav -->
    <nav class="navbar fixed-top navbar-expand-md navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">Goat And Daisy</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'shop' %}">Shop</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'workshop' %}">Repairs/Restorals</a>
            </li>
            
              {% if user.is_superuser %}
              <li class="nav-item dropdown">
                <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Admin
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="{% url 'admin_overview' %}">Staff Management</a></li>
                  <li><a class="dropdown-item" href="/admin/">Admin Panel</a></li>
                  </li>
                </ul></li>
                {% endif %}
                {% if request.user|has_group:"Shop Staff" %}
              <li class="nav-item dropdown">
                <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Shop Staff
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="{% url 'all_shop_orders' %}">View Shop Orders</a></li>
                  
                  </li> <li><a class="dropdown-item" href="{% url 'staff_manage_items' %}">Manage Inventory</a></li>
                  
                </li>
                <li><a class="dropdown-item" href="{% url 'all_shop_customers' %}">All Registered Customers</a></li>
                  
                  </li>
                </ul></li>
                {% endif %}
                {% if request.user|has_group:"Workshop Staff" %}
              <li class="nav-item dropdown">
                <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Workshop Staff
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="{% url 'ticket_overview' %}">View Customers And Tickets</a></li>
                  
                  </li>
                  <li><a class="dropdown-item" href="{% url 'all_customer_invoices' %}">Manage Invoices</a></li>
                  
                  </li>
                  <li><a class="dropdown-item" href="{% url 'task_manager' %}">Task Manager</a></li>
                  
                  </li>
                  <li><a class="dropdown-item" href="{% url 'all_shop_customers' %}">View All Customers</a></li>
                  
                  </li>
                </ul></li>
                {% endif %}
                
                <li class="nav-item dropdown">
                  <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Accounts
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% if user.is_authenticated %}
                    <li><a class="dropdown-item" href="{% url 'customer_profile' pk=user.id %}">{{ user.username | title }}'s Profile</a></li>
                    <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                    <li><a class="dropdown-item" href="{% url 'login' %}">Login</a></li>
                    <li><a class="dropdown-item" href="{% url 'signup' %}">Register</a></li>
                    {% endif %}
                  </ul>
            </li>
            {% if request.session.cart %}    
            <li class="nav-item dropdown">
              <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Cart ({{products_count}})
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                
                <li><a class="dropdown-item" href="{% url 'view_cart' %}">View Cart</a></li>
                <li><a class="dropdown-item" href="{% url 'precheckout' %}">Checkout</a></li>
              </ul>
            </li>
            {% endif %}
            
            
          <!-- Extra nav block -->
            {% block extra_nav %}
            {% endblock%}
           
            
          </ul>
          
        </div>
      </div>
    </nav>

    <section class="messages">
      {% if messages %}
      {% for message in messages %}
        <div class="alert alert-message container-fluid" role="alert">
          {{ message }}
        </div>
      {% endfor %}
        {% endif %}
    </section>


   
    <main class="container">
      
    {% block content %}
    {% endblock %}

    </main>
  
  <footer style="display:flex; justify-content:space-around;">
    <i class="bi bi-house footer-icon" style="margin:0 auto;"></i>
    <i class="bi bi-instagram footer-icon" style="margin:0 auto;"></i>
    <i class="bi bi-envelope footer-icon" style ="margin:0 auto;"></i>
  </footer>
  
  
  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    {% block extra_js %}
    

    {% endblock %}
 
  </body>
</html>