{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home_bg_image_trans.css' %}">
{% endblock %}

{% block page_title %}
| Shop 
{% endblock %}

{% block content %}

<div class="row">
    <div class="col"><h2>Paid - To Ship</h2>
        <hr>
        <p class="small transparent-bg">Please prepare the items listed below for shipping. After they are shipped, click "Mark Complete". </p>
        {% for invoice in invoices %}
        {% if not invoice.is_completed %}
        {% if invoice.paid_on %}
        <p><strong>{{ invoice }}</strong></p>
        {% if invoice.notes %}
        <p class="small">{{ invoice.notes }}</p>
        {% endif %}
        <p class="small">{{ invoice.email }}</p>
        <p class="small">{{ invoice.full_name }}</p>
        <p class="small">{{ invoice.address1 }}</p>
        {% if invoice.address2 %}
        <p class="small">{{ invoice.address2 }}</p>
        {% endif %}
        <p class="small">{{ invoice.town_or_city }}</p>
        <p class="small">{{ invoice.postcode }}</p>
        <p class="small">{{ invoice.country }}</p>
        <a href="{% url 'mark_invoice_complete' invoice.order_number %}">
            <p class="text-info">Mark complete</p>
        </a>
        {% endif %}
        {% endif %}
        {% endfor %}</div>
    <div class="col"><h2>Completed</h2>
        <hr>
        {% for invoice in invoices %}
        {% if invoice.is_completed %}
        <p><strong>{{ invoice }}</strong></p>
        {% if invoice.notes %}
        <p class="small">{{ invoice.notes }}</p>
        {% endif %}
        {% endif %}
        {% endfor %}</div>
</div>

<div class="row">
    <div class="col"><h2>Possible To Delete</h2>
        <hr>
        <p class="small transparent-bg">These are most likely created when customers don't complete the checkout process. Please delete those. However, some may be custom/phone orders prepared by a colleague so be sure to check notes.</p>
        {% for invoice in invoices %}
        {% if not invoice.is_completed %}
        {% if not invoice.is_paid %}
        <p><strong>{{ invoice }}</strong></p>
        {% if invoice.notes %}
        <p class="small">{{ invoice.notes }}</p>
        {% endif %}
        <a href="{% url 'delete_invoice' invoice.id %}">
            <p class="text-danger">Delete</p>
        </a>
        {% endif %}
        {% endif %}
        {% endfor %}</div>
    </div>

</div>

{% endblock %}