{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home_bg_image_trans.css' %}">
{% endblock %}

{% block page_title %}
| Staff 
{% endblock %}

{% block content %}

{% for customer in customers%}

    <p class="h1" style="margin-top:1rem;">{{customer.full_name | title}}</p>
    <br>
    {% if customer.has_active_shop_orders %}
    
        <p class="text-success">- has active shop orders</p>
   
    {% endif %}
    {% if customer.has_active_repairs %}
    
        <p class="text-success">- has active repairs</p>
    
    {% endif %}
    <a href="{% url 'customer_account_update' pk=customer.id%}"
        class="btn btn-info">View/Update Profile Details
    </a>
    <br><br><br>
{% endfor %}
{% endblock %}