{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home_bg_image_trans.css' %}">
{% endblock %}

{% block page_title %}
| Staff 
{% endblock %}

{% block content %}

{% for customer in customers%}

    <p class="h1" style="margin-top:1rem;">{{customer.full_name | title}}</p>
    <a href="{% url 'customer_account_update' pk=customer.id%}">
        <p class="text-success">View/Update Profile Details</p>
    </a>
    {% if customer.has_active_shop_orders %}
    
        <p class="text-success">Has Active Shop Orders</p>
   
    {% endif %}
    {% if customer.has_active_repairs %}
    
        <p class="text-success">Has Active Repairs</p>
    
    {% endif %}
    <br>
{% endfor %}
{% endblock %}