{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home_bg_image_trans.css' %}">
{% endblock %}

{% block content %}
<h1>Shop Detail</h1>
<p>{{ item.title }}</p>
<p>{{ item.description }}</p>
<p>{{ item.price }}</p>
    {% for image in item.images.all %}

    <img src="{{ image.image.url }}" alt="" style="width:300px;">

    {% endfor %}
    <br><br>
    <form action="{% url 'add_to_cart' item.id %}" method=POST>
        {% csrf_token %}
        <input type="hidden" name="redirect_url" value="{{ request.path }}">
        <input type="submit" value="Add To Cart">
    </form>
    </a>
    <small><input class="btn btn-sm btn-info" type=button value="Back" onClick="javascript:history.go(-1);"></small>
{% endblock %}