{% extends 'base.html' %}

{% block content %}
<h1>Shop</h1>
{% for product in products %}

    {% if product.is_available %}
    <p><a href="{% url 'shop_item' pk=product.id %}"><p>{{ product.title }}</p></a></p>
    <p>{{ product.description|truncatewords:15 }}</p>
    <p>{{ product.price }}</p>
    {% for image in product.images.all %}
        <img src="{{ image.image.url }}" alt="" style="width:300px;">
    {% endfor %}
    {% endif %}
    <form action="{% url 'add_to_cart' product.id %}" method=POST>
        {% csrf_token %}
        <input type="hidden" name="redirect_url" value="{{ request.path }}">
        <input type="submit" value="Add To Cart">
    </form>
    </a>

{% endfor %}
{% endblock %}