{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home_bg_image_trans.css' %}">
{% endblock %}

{% block page_title %}
| Shop 
{% endblock %}

{% block content %}
<h1>Inventory Management</h1>
<br>
<p class="small text-muted">Use this link to add new inventory items.</p>
<a href="{% url 'staff_add_item' %}" class="btn btn-info">
    Add New Item
</a>
<br><br>
<p class="small text-muted">Use this link to add images to inventory. You can also use the links by each product to add images.</p>
<a href="{% url 'staff_add_image' %}" class="btn btn-info">
    Manage Images
</a>
<br>
{% for product in products %}
<br>
    
    <a href="{% url 'staff_update_item' pk=product.id %}">
        <p class="display-6">{{ product.title }}</p> 
    </a>
    <p class="small text-muted">Use above link to edit this item.</p>
    <p>{{ product.description }}</p>
    <p>Price: {{ product.price }}</p>
    <p>Shipping: {{ product.shipping }}</p>
    <a href="{% url 'add_image_in_product' product.id %}" class="text-info">
        <p>Add A New Image</p>
    </a>
    {% for image in product.images.all %}
        <div class="image-span-flex" style="display: flex; justify-content: space-evenly; align-items: center;">
            <img src="{{image.image.url}}" alt="" style="width:300px;">
            <a href="{% url 'delete_image' pk=image.id %}">
                <span><small class="text-muted">Delete Image.</small></span>
            </a>
            <a href="{% url 'update_image' pk=image.id %}">
                <span><small class="text-muted">Replace Image.</small></span>
            </a>
            {% if image.is_primary_image %}
            <p><small>Is Primary Image</small></p>
            {% else %}
            <a href="{% url 'set_primary_image' product_id=product.id image_id=image.id %}">
                <span><small class="text-muted">Set Primary Image</small></span>
            </a>
            {% endif %}

        </div>

        
            
        </a>
        <br>


    {% endfor %}
    
    
    <a href="{% url 'staff_delete_item' pk=product.id %}" class="text-danger">
        <p>Delete This Item</p>
    </a>
    <br>

{% endfor %}

{% endblock %}