{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home_bg_image_trans.css' %}">
{% endblock %}

{% block content%}

<h1>Add To The Shop Collection</h1>
<form action="." method="POST">
    {% csrf_token %}
    {{ form | crispy }}
    <input type="submit" value="Add To Our Inventory">
</form>

<br>
<small><input class="btn btn-sm btn-info" type=button value="Back" onClick="javascript:history.go(-1);"></small>

{% endblock %}