{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home_bg_image_trans.css' %}">
{% endblock %}

{% block page_title %}
| Shop 
{% endblock %}

{% block content %}

<h1>Change This Inventory Item</h1>

<form action="." method="POST">
    {% csrf_token %}
    {{ form | crispy }}
    <input type="submit" class="btn btn-info" value="Update This Item">
</form>
<br>
<small><input class="btn btn-sm btn-info" type=button value="Back" onClick="javascript:history.go(-1);"></small>

{% endblock %}