{% extends 'base.html' %}

{% block content %}
<h1>Inventory Management</h1>
<br>
<a href="{% url 'staff_add_item' %}">
    <h2>Add New Item</h2>
</a>
<br>
<a href="{% url 'staff_add_image' %}">
    <h2>Add An Image</h2>
</a>
<br>
{% for product in products %}
    
    <a href="{% url 'staff_update_item' pk=product.id %}">
        <p>{{ product.title }}<span class="text-muted small"> Edit</span></p> 
    </a>
    <p>{{ product.description }}</p>
    <p>{{ product.price }}</p>
    {% for image in product.images.all %}
        <img src="{{image.image.url}}" alt="" style="width:300px;">
    {% endfor %}
    <a href="{% url 'staff_delete_item' pk=product.id %}" class="text-danger">
        <p>Delete This Item</p>
    </a>
    <br>

{% endfor %}

{% endblock %}