{% extends 'base.html' %}

{% block content %}
<h1>Inventory Management</h1>
<br>
<a href="{% url 'staff_add_item' %}">
    <h2>Add New Item</h2>
</a>
<p class="small text-muted">Use this link to add new inventory items.</p>
<br>
<a href="{% url 'staff_add_image' %}">
    <h2>Manage Images</h2>
</a>
    <p class="small text-muted">Use this link to add images to inventory. Use the links below each image for replacing or deleting existing images.</p>
<br>
{% for product in products %}
<br>
    
    <a href="{% url 'staff_update_item' pk=product.id %}">
        <p class="display-6">{{ product.title }}</p> 
    </a>
    <p class="small text-muted">Use above link to edit this item.</p>
    <p>{{ product.description }}</p>
    <p>Price: {{ product.price }}</p>
    {% for image in product.images.all %}
        <div class="image-span-flex" style="display: flex; justify-content: space-evenly; align-items: center;">
            <img src="{{image.image.url}}" alt="" style="width:300px;">
            <a href="{% url 'delete_image' pk=image.id %}">
                <span><small class="text-muted">Delete Image.</small></span>
            </a>
            <a href="{% url 'update_image' pk=image.id %}">
                <span><small class="text-muted">Replace Image.</small></span>
            </a>
            {% if image.is_primary_image %}
            <p><small>Is Primary Image</small></p>
            {% else %}
            <a href="{% url 'set_primary_image' product_id=product.id image_id=image.id %}">
                <span><small class="text-muted">Set Primary Image</small></span>
            </a>
            {% endif %}

        </div>

        
            
        </a>
        <br>


    {% endfor %}
    <a href="{% url 'staff_delete_item' pk=product.id %}" class="text-danger">
        <p>Delete This Item</p>
    </a>
    <br>

{% endfor %}

{% endblock %}